exportPattern("^[[:alpha:]]+")
useDynLib(MPSMixtures)

importFrom("grDevices", "hcl")
importFrom("stats", "dnbinom", "filter", "predict.lm", "qqnorm",
           "quantile", "rnbinom", "runif")

importFrom("stringr", "str_sub")
import("ggplot2")
